In [35]:
play_time = pd.read_csv('https://raw.githubusercontent.com/akjadon/HH/master/Python/DS_tutorials_all/Data/tennis.csv.txt')

In [37]:
import pandas as pd

In [38]:
play_time

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [39]:
play_time.drop(["play"], axis=1,inplace = True)

In [46]:
play_time.shape[0]

14

In [54]:
time=pd.DataFrame({'time':[26,30,48,46,62,23,43,36,38,48,48,62,44,56,34]})

In [55]:
time

    time
0     26
1     30
2     48
3     46
4     62
5     23
6     43
7     36
8     38
9     48
10    48
11    62
12    44
13    56
14    34

In [56]:
play_time['time']=time

In [57]:
play_time

     outlook  temp humidity  windy  time
0      sunny   hot     high  False    26
1      sunny   hot     high   True    30
2   overcast   hot     high  False    48
3      rainy  mild     high  False    46
4      rainy  cool   normal  False    62
5      rainy  cool   normal   True    23
6   overcast  cool   normal   True    43
7      sunny  mild     high  False    36
8      sunny  cool   normal  False    38
9      rainy  mild   normal  False    48
10     sunny  mild   normal   True    48
11  overcast  mild     high   True    62
12  overcast   hot   normal  False    44
13     rainy  mild     high   True    56

In [58]:
from sklearn.preprocessing import LabelEncoder
for col in ['outlook','temp','humidity','windy']:
    le = LabelEncoder()
    play_time[col] = le.fit_transform(play_time[col])

In [59]:
from sklearn.tree import DecisionTreeRegressor

In [60]:
dt = DecisionTreeRegressor()

In [61]:
dt.fit(play_time.drop('time',axis=1), play_time.time)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [63]:
from sklearn.tree import DecisionTreeClassifier,export_graphviz, ExtraTreeClassifier

In [64]:
export_graphviz(dt,'regtree.dot',feature_names=['outlook','temp','humidity','windy'])

In [65]:
play_time

    outlook  temp  humidity  windy  time
0         2     1         0      0    26
1         2     1         0      1    30
2         0     1         0      0    48
3         1     2         0      0    46
4         1     0         1      0    62
5         1     0         1      1    23
6         0     0         1      1    43
7         2     2         0      0    36
8         2     0         1      0    38
9         1     2         1      0    48
10        2     2         1      1    48
11        0     2         0      1    62
12        0     1         1      0    44
13        1     2         0      1    56

In [66]:
dt.predict([[2,1,1,1]])

array([38.])

In [67]:
dt.feature_importances_

array([0.37418193, 0.23291304, 0.10115081, 0.29175423])